<!-- app/templates/home.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    
    <div class="grid-containerhome">
        <!-- Sección Izquierda: Logo -->
        <div class="left-section">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
        </div>

        <!-- Sección Derecha: Gráfico y Botón -->
        <div class="right-section">
            <div id="neurachart"></div>
            <button class="start-button" onclick="startApp()">Iniciar</button>
        </div>
    </div>
    
{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}